@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Orbitron', sans-serif;
  font-size: 1.6em;
  line-height: 1.5em;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 640px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

h1 { 
  font-size: 50px;
  height: 50px;
  padding: 0 20px;
  color: #FFF;
}

.botoes {
  display: flex;
  margin-top: 30px;
  gap: 50px;
}

.botoes button {
  border: none;
  border-radius: 5px;
  background: var(--primary-color-darker);
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  height: 70px;
  width: 200px;
  cursor: pointer;
}

.container button:hover {
  opacity: 0.5;
}
.relogio {
  display: block;
  font-size: 5em;
  font-weight: 400;
  margin: 30px 25px;
}

.pausado {
  color: red;
}